<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.first_name %> <%= @user.last_name %> !</h1>
    <p>
      Muchas gracias por utilizar nuestra plataforma. <br>
      Como eres de nuestros primeros usuarios y ya somos
      más de 2000, queremos saber tu opinión sobre el
      funcionamiento para poder mejorar cada día. <br>
      Para esto te dejamos esta pequeña <a href="https://goo.gl/forms/B9QtOfwYeQxwb2ah2">encuesta</a>  para que puedas
      darnos feedback y si tienes sugerencias sobre nuevas funcionalidades.
      <br>
      Un buen fin de semana les desea el equipo de tuniversidad.

    </p>
  </body>
</html>
