<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @user.first_name %> <%= @user.last_name %></h3>
    <p>
      Has recibido este correo porque solicitaste cambiar tu contraseña de www.tuniversidad.cl
    </p>
    <br>
    <p>
      Tu nueva contraseña es: <%= @password %>
    </p>
    <br>
    <p>
      Saludos!
    </p>
  </body>
</html>